.hero-section {
    background: url('/src/components/core/Homepage/hero-section-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
    height: 340px;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }